[credential]
helper = store
[user]
name = João Albuquerque
email = joao.albuquerque@quintoandar.com.br
[init]
defaultBranch = main
[url "git@github.com:"]
insteadOf = https://github.com/
[color]
diff = auto
status = auto
branch = auto
interactive = auto
ui = True
pager = True
[alias]
sandbox = "! ~/bash-scripts/git-sandbox"
ps = push
ct = checkout
cb = checkout -b
st = status -sb
lg = log --pretty=format:'%Cred%h%Creset %C(bold)%cr%Creset %Cgreen<%an>%Creset %s' --max-count=30

wip = commit -am "WIP"
bwip = reset HEAD~1
upmain = !git fetch && git merge origin/main
upmaster = !git fetch && git merge origin/master
rollback = reset --soft HEAD~1
unstage-all = reset HEAD --
incoming = !(git fetch --quiet && git log --pretty=format:'%C(yellow)%h %C(white)- %C(red)%an %C(white)- %C(cyan)%d%Creset %s %C(white)- %ar%Creset' ..@{u})
outgoing = !(git fetch --quiet && git log --pretty=format:'%C(yellow)%h %C(white)- %C(red)%an %C(white)- %C(cyan)%d%Creset %s %C(white)- %ar%Creset' @{u}..)
undo = checkout --

cbn = "! ~/bash-scripts/git-commit-with-branchNumber"
feat = "! ~/bash-scripts/git-commit-with-branchNumber feat"
chore = "! ~/bash-scripts/git-commit-with-branchNumber chore"
fix = "! ~/bash-scripts/git-commit-with-branchNumber fix"
docs = "! ~/bash-scripts/git-commit-with-branchNumber docs"
test = "! ~/bash-scripts/git-commit-with-branchNumber test"
rui = "! ~/bash-scripts/git-remove-unused-imports"
ruc = "! ~/bash-scripts/git-remove-unused-code"
stash-staged = "! ~/bash-scripts/git-only-stash-staged"

kick = "!f() { git push origin $(git rev-parse --abbrev-ref HEAD):$1 --force; }; f"
forno = "!f() { git fetch && git checkout forno &&  git reset --hard origin/forno; }; f"
bclean-master = "!f() { git branch --merged ${1-master} | grep -v " ${1-master}$" | xargs -r git branch -d; }; f"
bclean-main = "!f() { git branch --merged ${1-main} | grep -v " ${1-main}$" | xargs -r git branch -d; }; f"
